<div class="card-header">
  {{form.name}}
</div>

<div class="card-block">
  {{#if loading}}
    <small class="text-muted">Loading data, please wait...</small>
    {{#-bs/progress}}
      {{-bs/progress/bar value=100 animated=true}}
    {{/-bs/progress}}
  {{else}}
    <div class="card-deck">
      <div class="card mb-3">
        <div class="card-block">
          <p class="mb-0"><span class="display-4">{{ format-number report.actions.render.count format="0,0" }}</span><br>Loaded</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-block">
          <p class="mb-0"><span class="display-4">{{ format-number report.actions.view.count format="0,0" }}</span><br>Viewed</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-block">
          <p class="mb-0"><span class="display-4">{{ format-number report.actions.focus.count format="0,0" }}</span><br>Focused</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-block">
          <p class="mb-0"><span class="display-4">{{ format-number report.actions.submit.count format="0,0" }}</span><br>Submitted</p>
        </div>
      </div>
    </div>
    {{#if report.submissions.length}}
      {{campaign/-analytics/user-table
        labels=report.labels
        submissions=report.submissions
        class="table-responsive table-striped table-sm mb-0"
      }}
    {{/if}}
  {{/if}}
</div>
