<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#email-signup-details" data-toggle="pill" role="tab">
          Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#email-signup-targets" data-toggle="pill" role="tab">
          Placements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#email-signup-hooks" data-toggle="pill" role="tab">
          Hooks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#email-signup-embed-code" data-toggle="pill" role="tab">
          Embed
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content card-block">
    <div class="tab-pane active" id="email-signup-details" role="tabpanel">
      {{campaign/email-signup/details campaign=campaign on-check-validity=(action "setDetailValidity")}}
    </div>
    <div class="tab-pane" id="email-signup-targets" role="tabpanel">
      {{campaign/email-signup/targets targets=campaign.targets on-check-validity=(action "setTargetValidity")}}
    </div>
    <div class="tab-pane" id="email-signup-hooks" role="tabpanel">
      {{campaign/email-signup/hooks cookies=campaign.cookies on-check-validity=(action "setHookValidity")}}
    </div>
    <div class="tab-pane" id="email-signup-embed-code" role="tabpanel">
      {{campaign/email-signup/embed-code campaign=campaign}}
    </div>
  </div>

  <div class="card-footer">
    {{#-bs/button "success" disabled=(eq canSave false) click=(action "save")}}
      {{-ion "checkmark-round"}} Save
    {{/-bs/button}}
  </div>
</div>
