<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#gated-content-details" data-toggle="pill" role="tab">
          Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gated-content-forms" data-toggle="pill" role="tab">
          Forms
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gated-content-targets" data-toggle="pill" role="tab">
          Placements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gated-content-hooks" data-toggle="pill" role="tab">
          Hooks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gated-content-embed-code" data-toggle="pill" role="tab">
          Embed
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gated-content-analytics" data-toggle="pill" role="tab">
          Analytics
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content card-block">
    <div class="tab-pane active" id="gated-content-details" role="tabpanel">
      {{campaign/gated-content/details campaign=campaign on-check-validity=(action "setDetailValidity")}}
    </div>
    <div class="tab-pane" id="gated-content-targets" role="tabpanel">
      {{campaign/-targets targets=campaign.targets on-check-validity=(action "setTargetValidity")}}
    </div>
    <div class="tab-pane" id="gated-content-forms" role="tabpanel">
      {{campaign/-forms forms=campaign.forms serviceId=campaign.service.id on-check-validity=(action "setFormValidity")}}
    </div>
    <div class="tab-pane" id="gated-content-hooks" role="tabpanel">
      {{campaign/-hooks cookies=campaign.cookies on-check-validity=(action "setHookValidity")}}
    </div>
    <div class="tab-pane" id="gated-content-embed-code" role="tabpanel">
      {{campaign/embed-code
        identifier=campaign.id
        isNew=campaign.isNew
        props=campaign.props
        type="campaign-gated-content"
      }}
    </div>
    <div class="tab-pane" id="gated-content-analytics" role="tabpanel">
      {{#each campaign.forms as |form|}}
        {{campaign/-analytics form=form campaignId=campaign.id}}
      {{/each}}
    </div>
  </div>

  <div class="card-footer">
    {{#-bs/button "success" disabled=(eq canSave false) click=(action "save")}}
      {{-ion "checkmark-round"}} Save
    {{/-bs/button}}
  </div>
</div>
